@charset "UTF-8";
/*
* General
*/
body {
  background-color: #efeef3;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

h1 {
  color: #efeef3;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 800;
  text-shadow: 1px 1px 2px #777;
}

h2 {
  color: #271549;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 800;
  text-shadow: 1px 1px 2px #777;
  margin-bottom: 50px;
}

h3 {
  color: #505050;
  text-transform: lowercase;
  letter-spacing: 0.5px;
  margin-bottom: 0 !important;
  color: #505050;
}

h3::first-letter {
  text-transform: uppercase;
}

h4 {
  margin-bottom: 10px;
  font-size: 1.7rem;
}

.small-divider {
  height: 1px;
  width: 20px;
  background-color: rgba(50, 50, 50, 0.2);
  margin: 10px auto 5px;
}

.big-divider {
  height: 5px;
  width: 50px;
  background-color: #fdce37;
  margin-bottom: 20px;
}

.main-container {
  padding: 50px;
}

/*
* Signup
*/
.btn-action-custom {
  background: #fdce37;
  color: #271549;
  border: 2px solid #271549;
}

.btn-action-custom:hover {
  background: #271549;
  color: #fdce37;
  border: 2px solid #fdce37;
}

.signup-title {
  color: #271549 !important;
}

/*
* Login
*/
.logo-lookable-container {
  width: 60px;
}

.login-logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
}

.homepage-logo-container {
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80px !important;
}

.login-left,
.login-right {
  height: 100vh;
}

.login-left {
  background-color: #271549;
}

.login-img {
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}

.form-container {
  background-color: #fff;
  min-width: 400px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.form-container input {
  padding: 10px;
  line-height: 28px;
}

.form-container input::-webkit-input-placeholder {
  font-size: 1.2rem;
}

.form-container input:-ms-input-placeholder {
  font-size: 1.2rem;
}

.form-container input::-ms-input-placeholder {
  font-size: 1.2rem;
}

.form-container input::placeholder {
  font-size: 1.2rem;
}

.login-title {
  color: #271549;
  font-weight: bold !important;
}

.login-subtitle,
.signup-subtitle {
  color: #271549;
  font-size: 1.6rem;
}

.login-btn {
  background-color: #271549;
  font-size: 1.2rem;
  padding: 10px;
}

.login-btn:hover {
  background-color: #42237a;
}

.signup-group {
  font-size: 1.1rem;
  font-size: 1.1rem;
}

/*
* Homepage
*/
#homepage {
  height: 100vh;
  background-color: #271549;
  color: #efeef3;
  position: relative;
}

#homepage p.lead {
  font-size: 1.4rem;
}

#homepage p {
  font-size: 1.2rem !important;
}

#home_main_content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
}

.slogan::before {
  content: "La clé de l'insertion professionnelle";
  background-color: #fdce37;
  color: #271549;
}

.btn-authentication {
  width: 150px !important;
  padding: 10px;
  font-size: 1.2rem;
  background: #fdce37;
  color: #271549;
  border: 2px solid #271549;
}

.btn-authentication:hover {
  background: #271549;
  color: #fdce37;
  border: 2px solid #fdce37;
}

.btn-logged-user {
  width: 200px !important;
}

#anchor-accessibility {
  position: absolute;
  bottom: 10px;
  right: 190px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #efeef3 !important;
  text-decoration: none;
}

#anchor-accessibility .fa-universal-access {
  width: 20px;
  height: 16px;
  margin: 0;
  color: #efeef3;
}

#anchor-partnership {
  position: absolute;
  bottom: 10px;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #efeef3;
  text-decoration: none;
}

#accessibility {
  color: #271549 !important;
}

#accessibility p,
#accessibility ul {
  font-size: 1.2rem;
}

#accessibility .accessibility-title::before {
  content: "A";
  background-color: #fdce37;
}

#partnership {
  margin-top: 100px !important;
}

#partnership .partnership-title::before {
  content: "Ils";
  background-color: #fdce37;
}

#haut-de-page {
  color: #271549;
  font-size: 2rem;
  margin: 50px 0;
}

/*
* singleCourse
*/
#single_course h1 {
  color: #505050;
  font-size: 3rem;
  font-weight: 800;
}

.inside-container {
  padding: 0 120px 0;
}

.btn-retour-cours {
  border: 2px solid #fdce37;
}

/*
* Courses
*/
.course-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fas {
  color: #271549;
  margin: 10px 30px;
  height: 100px;
  width: 100px;
}

.course-title {
  background-color: #271549;
  color: #efeef3;
  font-size: 1.5rem;
  text-align: center;
}

.course_items {
  text-align: center;
  height: 50px;
  color: #efeef3;
  background-color: #271549;
}

.card-body {
  color: black !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-img-top {
  height: 150px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .login-left,
  .main-content-img {
    display: none !important;
  }
  .main-content-text {
    width: 100%;
  }
}

.follow-course_items {
  height: 40px;
  color: #efeef3;
  background-color: #271549;
}

.follow-card-body {
  color: black !important;
  font-size: 0.75rem;
}

.follow-card-img-top {
  height: 100px;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */